Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

Sample Text- 'Python Exercises, PHP exercises.'

Expected Output: Python:Exercises::PHP:exercises:

In [1]:
#Ans 1: 
import re
sample_text = 'Python Exercises, PHP exercises.'
print(re.sub("[ ,.]",":",sample_text))

Python:Exercises::PHP:exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

Expected output-
0      hello world
1             test
2    four five six

In [109]:
#Ans 2
import pandas as pd

import re

data = {'SUMMARY': ['hello, world!', 'test', '123four, five:; six...']}

df = pd.DataFrame(data)

df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]','', regex=True)

print(df)

         SUMMARY
0    hello world
1           test
2  four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [29]:
#Ans 3
str1 = "Anubhav loves data science and SQL"

string_pattern = r"\w{4,}"

regex_pattern = re.compile(string_pattern)
result =regex_pattern.findall(str1)
print(result)

['Anubhav', 'loves', 'data', 'science']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [31]:
#Ans4

str1 = "Anubhav loves data science and SQL"

string_pattern = r"\b\w{3,5}\b"

regex_pattern = re.compile(string_pattern)
result =regex_pattern.findall(str1)
print(result)

['loves', 'data', 'and', 'SQL']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

Expected Output:

example.com

hr@fliprobo.com

github.com

Hello Data Science World

Data Scientist

In [44]:
# Ans 5
import re

def remove_paranthesis(strings):
    regex_pattern = re.compile("[()]")
    new_string = [regex_pattern.sub("",s) for s in strings]
    return new_string

sample_text =  ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_paranthesis(sample_text)
print (result)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]

Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [6]:
import re
with open("Q6_reg_exp_assignment.txt") as file:
    Q6_reg_exp_assignment = file.read()
    # regular expression to remove the paranthesis area
    new_Q6_reg_exp_assignment = re.sub(r'\([^)]*\)','',Q6_reg_exp_assignment)
    
    print( new_Q6_reg_exp_assignment)
    
    #   if we want to write back into original then we will write like this
  #  with open("Q6_reg_exp_assignment.txt") as file:
     #   Q6_reg_exp_assignment.txt = file.write(new_Q6_reg_exp_assignment.txt)

Sample Text: ["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

Question 7- Write a regular expression in Python to split a string into uppercase letters.

Sample text: “ImportanceOfRegularExpressionsInPython”

Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [7]:
# ANS 7
sample_text = 'ImportanceOfRegularExpressionsInPython'
uppercase = [s for s in re.split(r'([A-Z][^A-Z]*)', sample_text) if s]
print(uppercase)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [42]:
#Ans 8 
import re
def insert_spaces(text):
    x = re.sub(r'(\d)([A-Za-z]+)',r'\1 \2',text)
    return x
print(insert_spaces("RegularExpression1IsAn2ImportantTopic3InPython"))

RegularExpression1 IsAn2 ImportantTopic3 InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [71]:
# Ans 9 
import re
def insert_spaces(x):
    x = re.sub(r'(?<=\w)([A-Z])',r' \1',x)
    x = re.sub(r'(?<=\D)(\d)',r' \1',x)

    return x

print(insert_spaces("RegularExpression1IsAn2ImportantTopic3InPython"))

Regular Expression 1 Is An 2 Important Topic 3 In Python

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [73]:
#ans 10
import pandas as pd
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)
df
df['first_five_letters'] = df['Country'].str[:6]
print(df.head())

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual first_five_letters
0     0.29678            2.51738             Switze
1     0.43630            2.70201             Icelan
2     0.34139            2.49204             Denmar
3     0.34699            2.46531             Norway
4     0.45811            2.45176             Canada

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [74]:
#Ans 11
import re
def text_match(text):
        patterns = '^[a-zA-Z0-9_]*$'
        if re.search(patterns,  text):
                return 'String is  matching !'
        else:
                return('string not matching !')

print(text_match("I love data science"))
print(text_match("Hello_Python3"))

string not matching !
String is  matching !

Question 12- Write a Python program where a string will start with a specific number.

In [4]:
#Ans 12
import re

def specific_num(string):
    pattern = re.compile(r"^12")
    if pattern.match(string):
        return True 
    else:
        return False
    
print(specific_num('2-345'))
print(specific_num('12-345'))

False
True

Question 13- Write a Python program to remove leading zeros from an IP address

In [6]:
#Ans 13
import re
ip = "215.09.018.174"
string = re.sub('\.[0]*', '.', ip)
print(string)

215.9.18.174

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

Expected Output- August 15th 1947

Note- Store given sample text in the text file and then extract the date string asked format.

In [67]:
import re

with open("extract_text.txt","r") as file:
    x = file.read()
    
    regex_pattern = r"August\s+\d{1,2}(?:th)?\s+\d{4}"
    
    matches = re.findall(regex_pattern,x)
    
    for date in matches:
        print(matches)

['August 15th 1947']

Question 15- Write a Python program to search some literals strings in a string. 

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox', 'dog', 'horse'

In [31]:
#Ans 15

patterns=['fox','dog','horse']

sample_text = "The quick brown fox jumps ver the lazy dog."

for x in patterns:
    print('Searching for "%s" in "%s" ->' % (x, sample_text))
    if re.search(x,sample_text):
        print('Matched')
    else:
        print('Not Matched')

Searching for "fox" in "The quick brown fox jumps ver the lazy dog." ->
Matched
Searching for "dog" in "The quick brown fox jumps ver the lazy dog." ->
Matched
Searching for "horse" in "The quick brown fox jumps ver the lazy dog." ->
Not Matched


Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox'

In [32]:
# Ans 16
import re
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
    (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

Question 17- Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises'

Pattern : 'exercises'.

In [34]:
#Ans 17
target_string= 'Python exercises, PHP exercises, C# exercises'
pattern = ("exercises")

for match in re.findall(pattern, target_string):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [35]:
# Ans 18
target_string= 'Python exercises, PHP exercises, C# exercises'

result = re.finditer(r"exercises",target_string)

for match_obj in result:
    print(match_obj)

<re.Match object; span=(7, 16), match='exercises'>
<re.Match object; span=(22, 31), match='exercises'>
<re.Match object; span=(36, 45), match='exercises'>

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [37]:
#Ans 19

import re

def convert_date_format(dt):
    
    return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)

dt1 = "2024-04-06"

print("Previous date in YYYY-MM-DD Format: ",dt1)

print("New date in DD-MM-YYYY Format: ",convert_date_format(dt1))

Previous date in YYYY-MM-DD Format:  2024-04-06
New date in DD-MM-YYYY Format:  06-04-2024

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string.

The use of the re.compile() method is mandatory.

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [39]:
# Ans 20
import re

def find_decimal_num(string):
    pattern = re.compile(r'\d+\.\d{1,2}')
    decimal_nums = re.findall(pattern,string)
    return decimal_nums

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

output = find_decimal_num(sample_text)

print(output)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [41]:
target_string = "Rohit sharma has scored 48 CENTURIES and 91 HALFCENTURIES in his cricket career"

pattern = re.compile(r"(\d+)")

#find all matches to groups
for match in pattern.finditer(target_string):
    print(match.group())
    print("Index position:", match.start())

48
Index position: 24
91
Index position: 41

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

Expected Output: 950

In [42]:
# ans 22
import re

sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

all_numeric_values = re.findall(r"\d+",sample_text)

all_numeric_values = [int(num) for num in all_numeric_values]

largest_numeric_value = max(all_numeric_values)

print(largest_numeric_value )

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.

Sample Text: “RegularExpressionIsAnImportantTopicInPython"

Expected Output: Regular Expression Is An Important Topic In Python

In [44]:
#Ans 23

import re

def insert_spaces(x):
    x = re.sub(r'(?<=\w)([A-Z])',r' \1',x)
    return x

print(insert_spaces("RegularExpressionIsAnImportantTopicInPython"))

Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [45]:
# Ans 24
import re

pattern = r'[A-Z][a-z]+'
text = "Anubhav Chatterji loves Data Science more than Data Analysis"
matches = re.findall(pattern, text)
print(matches)

['Anubhav', 'Chatterji', 'Data', 'Science', 'Data', 'Analysis']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

Sample Text: "Hello hello world world"

Expected Output: Hello hello world

In [47]:
# Ans 25
import re
string_1 = "Hello hello world world"
regex = r'\b(\w+)\s+\1\b'

x = re.sub(regex, r'\1', string_1)
print(x)

Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [63]:
# Ans 26 
def ends_with_alphanumeric(string):
    pattern = r'\w$'
    match = re.search(pattern,string)
    if match:
        return True
    else:
        return False
    
strings = ['anubhav123', 'chatterji@']


for string in strings:
    if ends_with_alphanumeric(string):
        print(f'"{string}" ends with an alphanumeric character.')
    else:
        print(f'"{string}" does not end with an alphanumeric character.')

"anubhav123" ends with an alphanumeric character.
"chatterji@" does not end with an alphanumeric character.

Question 27-Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
    
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [64]:
#Ans 27
import re

def extract_hashtags(text):
    hashtags = re.findall(r'#\w+', text)
    return hashtags

# Sample text
text = 'RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'

# Extract hashtags
hashtags = extract_hashtags(text)

# Print the extracted hashtags
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols

Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
    
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [65]:
#Ans 28

import re

sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pattern = r"<U\+\w{4}>"
result = re.sub(pattern, "", sample_text)

print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

Note- Store this sample text in the file and then extract dates.

In [75]:
import re

with open("Ques29regex_assignment.txt","r") as file:
    x = file.read()
    
    regex_pattern = r"(\d{1,2}-\d{1,2}-\d{4})"
    
    matches = re.findall(regex_pattern,x)
    
    for date in matches:
        print(matches)

['12-09-1992', '15-12-1999']
['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.

The use of the re.compile() method is mandatory.

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [77]:
# Ans 30 
import re

def del_words(string):
    pattern = re.compile(r'\b\w{2,4}\b')
    
    new_string = re.sub(pattern, '', string)
    
    return new_string

sample_text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
result = del_words(sample_text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.